// v2 (2020 Branding)
// Dark grey background
// White text/links
// Blue socials
// Blue circle bottom right

$talend-sky:        #FF6D70;
$talend-primary:        #FF6D70;
$talend-secondary:      #19426C;
$talend-tertiary:       #2C1F56;
$talend-alt:            #90D0EC;
$talend-altdark:        #323E48;
$talend-altlight:       #F6F3EE;

$talend-white:          #ffffff;
$talend-lightgrey:      #E1E4EA;
$talend-grey:           $talend-altdark;
$talend-black:          #1C1E21;
$talend-seashell:       $talend-altlight;
$talend-text-grey:      #67718B;

$talend-sky:            #0093c9;
$talend-sea:            #0675c1;
$talend-blue:           #005b7d;
$talend-lime:           #82bd41;
$talend-emerald:        #389239;
$talend-lemon:          #f2c845;
$talend-tangerine:      #f7a800;
$talend-space:          #0c2d4d;
$talend-graphite:       #808285;
$talend-graphite-light: #e8eeef;

.bottom-container, .home .bottom-container {
  background-color: $talend-black;
  padding-bottom: 12.5rem;
  position: relative;
  overflow: hidden;
  z-index: 2;

  @media screen and (min-width: 992px) {
    &::after {
      content: '';
      position: absolute;
      bottom: -250px;
      right: -100px;
      z-index: 1;
      pointer-events: none;
      background-color: $talend-sea;
      width: 440px;
      height: 440px;
      border-radius: 220px;

      .talend-2020 & {
        background-color: $talend-primary;
      }
    }

    >div {
      position: relative;
      z-index: 2;
    }
  }
}

// Copyright line
body.talend-2020 footer.site-footer .bottom-container p#footer-copyright {
  color: #FFF;
  
  @media screen and (max-width: 991px) {
    position: static;
  }

  @media screen and (min-width: 992px) {
    color: $talend-black;
    bottom: 0;
    position: absolute;
    right: 60px;
    z-index: 100;
  }
}

@media screen and (min-width: 768px) {
  .bottom-container, .home .bottom-container {
    padding-bottom: 6rem;
    background-size: 18.5rem;
  }
}

.footer-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
	justify-content: center;

	nav > ul {
		a {
			font-size: 15px !important;
		}

		li > a {
			padding: 15px 20px !important;
			color: $talend-seashell !important;
			font-weight: 500;
			transition: all .15s ease-in-out;

			&:hover {
				color: $talend-sky !important;
			}
		}

		& > li {
			& > a {
				line-height: 1.37rem !important;
				
				& > span.ubermenu-target-title {
					color: #444 !important;
					font-weight: 700;
	
					&:hover {
						color: $talend-sky !important;
					}
				}
			}
		}
	}
	
	

    ul.menu {
        padding: 0 1rem;
        margin:0;
        width: 25%;
        list-style:none;
		
		a {
			font-size: 15px !important;
		}

        > li > a {
            color: white;
            font-weight: bold;
            padding: 15px 0;
            display: block;
        }

        ul.sub-menu {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li, .sub-menu {
            width: 100%;

            li a {
                color: white;
                font-weight: normal;
                padding: 5px 0;
                display: block;
            }
        }

        a:hover, .sub-menu a:hover {
            color: $talend-sky;
        }

        
    }

    @media only screen and (max-width: 992px) {
        justify-content: center;
        ul.menu {
            width:50%;
            margin-top: 0.5rem;

            &:nth-child(3) {
                width: 100%;
                display: flex;
                

                > li:nth-child(2) {
                    padding: 0 0 0 15px;
                }
            }

            &:nth-child(4) {
                width: 100%;
            }
        }
    }
}

.bottom-container {
  padding: 5rem 0 2rem;

  #footer-copyright-container {
    padding-top: 10px;
    margin-top: 0;
    float: none;
	  border-top: 0 !important;
  }
	.social-area ul {
	  text-align: center;
	  li {
	    margin-right: 22px;
	    float: none;
	    display: inline-block;
	    &:last-child {
	      margin-right: 0;
	    }
	  }
	}
	#footer-copyright {
	  color: white;
		font-size: .875rem;
		text-align: center;
  }
    
	.footer-social-icons {
		margin-bottom: 2rem;
        text-align: center;
        margin-top: 2rem;
		ul {
			padding: 0;
			list-style-type: none;
			li {
				display: inline-block;
				text-align: center;
        margin: 0 1rem;
        width:25px;
          a {
            color:$talend-sky;
          }
			}
		}
	}
	#footer-menu {
		list-style-type: none;
		text-align: center;
		padding: 0;
		li {
			display: inline-block;
			&:first-child {
				width: 100%;
				@media screen and (min-width: 768px) {
					width: auto;
				}
			}
			a {
				font-size: .875rem;
				color: white;
				padding: .5rem;
				transition: all 150ms ease-in-out;
				&:hover {
					color: $talend-sky;
				}
			}
		}
	}
}

.to-the-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  padding: 15px 15px 8px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  cursor: pointer;
  .to-the-top-arrow {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
  }
}

#colophon.site-footer {      
    .footer-newsletter-signup {
        margin: 0 auto 3rem;
        text-align: center;
        display: flex;
        justify-content: center;
        position: relative;

        form {
            width:100%;

            label {
                display: none;
            }
        }

        p {
            text-align: center;
            font-family: 'PT Sans';
            font-size: 22px;
            font-weight: 700;
            display: none;
        }
    }

    .mktoForm .mktoFormRow {
        width: auto !important;
    	float: none;
    	clear: none!important;
        padding: 0;
        float: left;

        input[type=date],
        input[type=email],
        input[type=number],
        input[type=tel],
        input[type=text],
        input[type=url],
        select.mktoField,
        textarea.mktoField  {
            border: 2px solid #222!important;
            border-radius: 50em;
            outline: none;
            width:100%;
            padding: 1.25rem 1rem!important;
        }

        input[type=email] {
            width:450px!important;
        }

        select {
            appearance: none;
            border: 2px solid #222!important;
            border-radius: 50em;
            background-image:
                linear-gradient(45deg, transparent 50%, gray 50%),
                linear-gradient(135deg, gray 50%, transparent 50%);
              background-position:
                calc(100% - 20px) calc(1em + 10px),
                calc(100% - 15px) calc(1em + 10px);
              background-size:
                5px 5px,
                5px 5px,
                1px 1.5em;
              background-repeat: no-repeat;
          }

          &:nth-child(1) {
            input, select {
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
              border-color:#222;
              border-right: none!important;
            }
  
          }
  
          &:nth-child(2) {
            input, select {
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
              border-color:#222;
            }
          }

          #Express_Consent__c {
            position: absolute;
            top: 65px;
            left: 2%;
            margin: 0;
        }

          label[for=Express_Consent__c] {
            color:#222 !important;
            display: block;
            left: 55%;
            position: absolute;
            text-align: left;
            top: 65px;
            transform: translateX(-50%);
            width: 100%;
            font-size: 14px;
            margin:0;
            font-weight:500;
            

              .mktoAsterix {
                  display: none;
              }
          }

          #Email + .mktoError {
            position: absolute;
            top:-40px;
            left:0%;
            text-align: left;
            width:100%!important;
          }

          #Country + .mktoError {
            position: absolute;
            top:-40px;
            left:50%;
            text-align: left;
            width: 50% !important;
          }
    }

    .mktoForm .mktoButtonWrap.mktoSimple button.mktoButton {
        width:200px!important;
        padding: 14px!important;
        text-transform: uppercase;
    }

    .mktoFormCol {
		width: auto;
    	float: none !important;
    	margin-right: 0;
		margin-bottom: 0 !important;
	}

    .mktoButtonRow {
        clear: none;
        display: inline-block;
        width: auto !important;
        text-align: center;
        padding-top: 0;
        vertical-align: top;

        .mktoButtonWrap.mktoSimple {
            margin-left: 0!important;
        }

        input[type=submit], button {
            background: #222;
            color: #fff;
            text-shadow: none;
            box-shadow: none;
            font-weight: 700;
            outline: none;
            border:none;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            transition: all 250ms ease-in-out;
            line-height: 1.25;
            height: 60px !important;
            &:hover {
              background: #0093c9;
            }
          }
    }

    .mktoErrorMsg {
        color: #bf2d2d;
        padding-top: .175rem;
        padding-left: 1rem;
      }
}


#footer-menu-container {
    padding: 5rem 0 2rem !important;
    display: flex;
    justify-content: center;
}
