// Begin Header-V2 styles
$device-switch: 1100;
$nav-height: 60px;
$logo-width: 142px;
$radius: 4px;

$timingBase: 160ms;
$timingFast: $timingBase;
$timingMed: $timingBase * 1.5;
$timingSlow: $timingBase * 2;

// Abstracted class selectors
$transSelector: 'body.transparent-header';
$stickySelector: '.has-sticky-header';  // Added via JS
$stickyClass: '.is-sticky';             // Added via JS
$lightHeaderClass: '.light-header';     // Added via WP interface
$darkHeaderClass: '.dark-header';       // Added via WP interface

$navBoxShadow: 0 15px 23px 8px rgba(0, 0, 0, 0.1);

@mixin navCTA {
  display: inline-block;
  line-height: 36px;
  padding: 0 15px;
  border-radius: $radius;
  color: white;
  box-shadow: inset 0 0 0 2px $primary;

  &:hover {
    background: $primary;
    color: $black;
  }
}

// Basic Media Queries
@mixin device {
  @media screen and (max-width: #{$device-switch - 1}px) { @content; }
}

@mixin desktop {
  @media screen and (min-width: #{$device-switch}px) { @content; }
}

// Hidden checkbox used to change device menu visibility
.nav-toggle {
  $root: &;
  position: absolute;
  right: -9999px;
  display: none;
  visibility: hidden;

  // When checked (device nav enabled)
  &:checked ~ #site-header.header-v2 { // ID overrides most specificity
    @include device {
      position: fixed;  // Override .talend-2020
      overflow: scroll;
      padding-bottom: 60px;
      pointer-events: none;
      height: 100vh;
      transition-delay: 0ms;

      > * {
        pointer-events: all;
      }
    }

    .nav-v2 {
      display: block;
      visibility: visible;
      opacity: 1;
      pointer-events: all;
      transition: opacity $timingFast ease;
      padding-bottom: su(3);
    }

    // Nav trigger when toggled
    .nav-trigger {
      &::before {
        transform: translateY(-2px) translateX(-4px) rotate(-45deg);
      }

      span {
        transform: translateX(20px);
        opacity: 0;
      }

      &::after {
        transform: translateY(2px) translateX(-4px) rotate(45deg);
      }
    }
  }
}

header.header-v2.site-header {
  position: fixed;
  width: 100%;
  height: $nav-height;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  border: 0;
  overflow: hidden;
  transition: background-color $timingMed ease,  // UX flavor.
              height 0ms ease $timingSlow,
              box-shadow $timingMed ease;
  background: transparent;
  z-index: 200;
  box-shadow: 0 1px 2px transparent;
  z-index: 110;
  font-family: 'Source Sans Pro';

  // Header "curtain"
  &::before {
    content: '';
    position: absolute;
    height: $nav-height;
    width: 100%;
    left: 0;
    top: 0;
    background: white;
    transition: background ease $timingFast;
  }

  #{$transSelector} & {
    &,
    &::before {
      background: transparent;
    }

    .nav-v2 {
      // Idle first level menu items when transparent
      > ul > li > a {
        @include desktop {
          color: white;
        }
      }

      // Hovered first level menu items when transparent
      > ul > li:hover > a {
        color: $primary;
      }
    }
  }

  #{$transSelector}#{$darkHeaderClass} & .nav-v2 {
    // Idle first level menu items when transparent, dark-text version
    > ul > li > a {
      color: $black;
    }

    li.international,
    li.search {
      @include desktop {
        > a {
          background-color: $black;
        }

        &:hover > a {
          background-color: $primary;
        }
      }
    }

    // Hovered first level menu items when transparent
    > ul > li:hover > a {
      color: $primary;
    }
  }

  &#{$stickyClass},
  #{$transSelector} &#{$stickyClass} {

    &::before {
      background: white;
    }

    .nav-v2 {
      // Idle first level menu items when sticky
      > ul > li > a {
        color: $black;
      }

      // Hovered first level menu items when sticky
      > ul > li:hover > a {
        color: $primary;
      }

      li.international,
      li.search {
        @include desktop {
          > a {
            background-color: $black;
          }

          &:hover > a {
            background-color: $primary;
          }
        }
      }
    }
  } // End Sticky

  @include desktop {
    display: flex;
    overflow: visible;
  }

  &#{$stickyClass} {
    display: flex;
    width: 100%;
    border: 0;

    &::before {
      box-shadow: 0 1px 2px rgba($black, 0.1),
                  0 2px 4px rgba($space, 0.05);
    }
  }

  // Logo
  #logo {
    position: relative;
    z-index: 15;
    display: flex;
    align-items: center;
    height: $nav-height;
    width: $logo-width;

    a {
      padding-top: 6px;
      display: block;
    }

    svg {
      max-width: $logo-width;
      width: 100%;

      path {
        fill: $primary;
      }
    }
  }

  .nav-trigger {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
    z-index: 15;
    width: 44px;
    height: 44px;
    margin-top: 8px;
    padding: 10px 5px;
    cursor: pointer;

    @include desktop {
      display: none;
    }

    &:focus,
    &:active {
      outline: none;
      border: none;
    }

    &::before,
    &::after {
      content: '';
    }

    &::before,
    &::after,
    span {
      display: block;
      height: 4px;
      background: $sea;
      transform-origin: right;
      transition: transform $timingFast ease,
                  opacity $timingFast ease;
      border-radius: $radius;
      background: $primary;
    }

    span {
      text-indent: -9999px;
    }
  }

  // Navigation
  .nav-v2 {
    z-index: 10;
    width: 100%;
    max-height: calc(100vh - 120px);
    overflow-y: scroll;
    margin: 20px 0 0 0;
    padding: su(1.5) su(3);
    text-align: left;
    background: white;
    box-shadow: $navBoxShadow;
    border-radius: 4px;
    opacity: 0;
    transition: opacity $timingFast ease;
    pointer-events: none;
    font-family: "Source Sans Pro", "PT Sans", "Helvetica Neue", Helvetica, sans-serif;

    @include desktop {
      position: static;
      pointer-events: all;
      margin: 0 0 0 auto;
      padding: 0;
      opacity: 1;
      transition: none;
      width: auto;
      height: $nav-height;
      max-height: $nav-height;
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      overflow: visible;
    }

    // Clear default styles
    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;

      @include desktop {
        display: inline-block;
      }
    }

    a {
      display: block;
      color: $black;
      transition: color $timingMed ease,
                  background-color $timingMed ease;

      @include desktop {
        display: inline-block;

        &:hover {
          text-decoration: none;
        }
      }

      #{$darkHeaderClass} & {
        color: black;
      }
    }

    // First level --------------------------------------
    > ul {
      position: relative;
      z-index: 20;
      font-size: 24px;
      perspective: 3000px;
      perspective-origin: center top;
      display: flex;
      flex-direction: column;

      @include desktop {
        flex-direction: row;
        font-size: 0; // Remove white-space between items
      }

      // First level list-items
      > li {
        @include device {
          height: 38px;
          overflow: hidden;
          transition: height ease $timingSlow,
                      margin ease $timingSlow;
          will-change: height;
        }

        @include desktop {
          transition: background $timingFast ease;
          order: 10;  // Baseline order property.
          display: flex;
          justify-content: center;
          font-size: 16px;
          position: relative;
          overflow: visible;
        }

        > a {
          padding: 5px;
          color: $black;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;

          @include desktop {
            font-size: 16px;
            line-height: $nav-height;
            padding: 0 12px;
          }

          // Focus appearance for first-level anchor items
          @include device {
            &:focus,
            &:active {
              color: $primary;
            }
          }
        }

        &.menu-item-has-children {
          > a {
            &::after {
              content: '';
              background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='11px' height='7px' viewBox='0 0 11 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath 5%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M9.52530514,0.555967532 C9.7705375,0.293800798 10.1818657,0.280072775 10.4440325,0.525305136 C10.6799825,0.74601426 10.7146972,1.10126104 10.5405063,1.36122286 L10.4746949,1.44403247 L5.30395319,6.97183662 L0.508297998,1.42512256 C0.273509293,1.15356304 0.303317927,0.743086702 0.574877444,0.508297998 C0.81928101,0.296988164 1.1762072,0.300002174 1.41630937,0.500684962 L1.491702,0.574877444 L5.341,5.027 L9.52530514,0.555967532 Z' id='Path-5' fill='%23979797' fill-rule='nonzero' transform='translate(5.499996, 3.660913) scale(1, -1) translate(-5.499996, -3.660913) '%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
              background-size: contain;
              background-repeat: no-repeat;
              width: 18px;
              height: 12px;
              transition: transform ease $timingMed;
              transform: rotate(180deg);
            }

            @include desktop {
              background: none;
              padding-right: su(2);

              // Downward Carat for Desktop
              &::after {
                position: relative;
                top: -1px;
                right: auto;
                display: inline-block;
                padding: 3px;
                width: auto;
                height: auto;
                margin: 0 -8px 0 6px;
                background-image: none;
                border: solid #979797;
                border-width: 0 1px 1px 0;
                transform: rotate(45deg);
              }
            }
          }

          // Mobile accordion
          @include device {
            > ul {
              flex-flow: nowrap column;
              padding-bottom: su(2);

              > li {

                img {
                  display: none;
                }
              }
            }

            &.opened {
              > a {
                color: $primary;

                &::after {
                  transform: rotate(0deg);
                }
              }

              > ul {
                height: auto;
              }
            }
          }
        }

        // Multi-columns, side-by-side layout
        &.wide {
          @include desktop {
            width: max-content;

            > ul {
              display: flex;
              align-items: stretch;
              padding: su(4) 0 su(3) 0;
              width: max-content;
            }

            .js-group a {
              align-items: flex-start;
              line-height: 22px;
              padding: 9px su(3) 9px su();
            }
          }

          // Individual columns
          > ul > li {
            flex: 1 1 0;

            @include desktop {
              position: relative; // To aid with bars
              padding-left: su(3);
              padding-right: su(3);

              > a {
                line-height: 22px;
                padding: 9px su(3) 9px su();
              }

              // Bars between columns
              &.js-group:not(:nth-last-child(-1n+2))::after {
                content: '';
                position: absolute;
                right: 0;
                top: su(3);
                width: 1px;
                height: calc(100% - 48px);
                background: $border-grey;
              }

              &.full-width {
                grid-column: 1 / 4;
                width: calc(100% + 48px);
                margin: 16px 0 -24px 0;
                position: relative;
                z-index: 2;
                box-shadow: 0 -24px 0 0 white;   // Visual space for column bars/borders
              }
            }
          }

          .full-width {
            padding: 0;
            flex-basis: 100%;

            a {
              @include device {
                text-align: center;
                font-size: 14px;
              }

              justify-content: center;
              padding: su(2) su(3);
            }
          }
        }  // End .wide

        // Ensure three-col layouts don't expand too far
        &.wide.cols-3 > ul {
          @include desktop {
            max-width: 890px; // magic number re: Designs
          }
        }

        // Ensure proper width for less wide flyouts
        &.wide.cols-2 > ul {
          @include desktop {
            max-width: 486px; // magic number re: Designs
          }
        }

        // Ensure proper width for less wide flyouts
        &.wide.cols-2 > ul {
          @include desktop {
            > li {
              // Bar between columns
              &:first-of-type::after {
                content: '';
                position: absolute;
                right: 0;
                top: su(4);
                width: 1px;
                height: calc(100% - 64px);
                background: $border-grey;
              }
            }
          }
        }

        // Only one layer of depth
        &.shallow {
          > ul {
            display: flex;
            flex-flow: row wrap;

            @include desktop {
              width: min-content;
              padding-bottom: 20px;
            }
          }

          > ul > li {
            flex: 1 0 100%;
            margin: 0;

            @include desktop {
              padding: 2px su(3);
            }

            > a {
              @include desktop {
                padding: 4px su() 4px su(2);
              }
            }
          }
        }

        // Hover appearance for the first level list-item on desktop
        &:hover {
          @include desktop {
            // transparent box for hover hitbox/area
            &::after {
              content: ' ';
              position: absolute;
              top: 100%;
              width: 200%;
              height: 20px;
              background: transparent;
            }

            > a {
              color: $primary;
            }
          }

          > ul {
            background: white;
          }

          // Second level lists upon hover
          > ul {
            pointer-events: all;

            @include desktop {
              opacity: 1;
              z-index: 20;
              transform: translateY(10px);

              @media all and (-ms-high-contrast:none) {
                transform: translateY(10px) translateX(-50%);
              }
            }
          }
        }

        // Second level (drop-downs / fly-outs) -----------------------
        > ul {
          font-size: 16px;
          background: white;
          display: flex;
          flex-wrap: wrap;
          transition: transform ease $timingBase,
                      z-index 0ms ease $timingFast;
          overflow: hidden;

          @include desktop {
            position: absolute;
            top: 100%;
            min-width: su(30);
            height: auto;
            padding: 0;
            margin: 0;
            opacity: 0;
            font-size: 16px;
            pointer-events: none;
            z-index: -1;
            transition: color $timingFast ease,
                        background $timingFast ease,
                        transform $timingFast ease,
                        opacity $timingFast ease,
                        z-index 0ms ease $timingSlow;
            transform: translateY(-10px);
            border-radius: $radius;
            box-shadow: $navBoxShadow;
            overflow: visible;


            // IE11 support
            @media all and (-ms-high-contrast:none) {
              display: block;
              left: 50%;
              transform: translateY(-10px) translateX(-50%);
            }

            // Angled square, triangle tag at top of flyout
            &::after {
              content: '';
              position: absolute;
              z-index: -1;
              top: -11px;
              left: 0;
              right: 0;
              margin: auto;
              width: 24px;
              height: 24px;
              background: white;
              transform: rotate(45deg);
            }
          }

          // Second level list-items ------------------------------
          > li {
            width: 100%;

            @include desktop {
              padding: 3px 0;

              &.border-bottom {
                border-bottom: 1px solid $border-grey;
                margin-bottom: 5px;
              }
            }

            // Increases font-size and padding (ie: Talend Data Fabric)
            &.large {
              @include device {
                > a {
                  padding-left: su();
                }
              }

              @include desktop {
                padding: su();
              }
            }

            // Adjust padding for "heading" nav elements (ie: Talend Data Fabric)
            &.heading a {
              @include desktop {
                padding: su(2) su(4) su(2) 20px;
              }
            }

            // Adjust padding for top-of-list nav elements (ie: Why Talend?, and Resources)
            &.padded {
              @include desktop {
                padding: 20px su(3) su() su(3);
                min-width: 300px;
              }
            }

            &.bold a {
              font-weight: bold;
            }

            &.nowrap {
              min-width: max-content;
              white-space: nowrap;
            }

            // When a description has been added to the nav element
            &.has-description {
              @include desktop {
                a {
                  display: block;
                }

                .description {
                  font-weight: normal;
                }

                img {
                  float: left;
                }

                .menu-image-title,
                .description {
                  display: block;
                  line-height: 22px;
                }
              }
            }

            // Larger icon variant
            &.icon-large {
              > a img {
                max-width: 32px;
                max-height: 32px;
              }

              > a .description {
                @include desktop {
                  padding-left: 42px;
                }
              }
            }

            // Slightly darker-than-seashell
            &.bg-dark {
              @include desktop {
                background: $altlight-2;
              }
            }

            &.see-all {
              @include device {
                margin-top: su(2);
              }

              background: $altlight-2;
            }

            // Items which appear to be "under" others
            &.indented {
              padding-left: su(2);

              @include desktop {
                padding-left: su(3);
                padding-right: su(3);
              }

              &.indented-last {
                padding-bottom: 16px;
              }

              a {
                padding: 4px su(2);
                line-height: 32px;
                white-space: nowrap;
              }
            }

            .pre-header {
              display: block;
              padding: 0;
              color: #B0B0B0;
              font-size: 15px;
              padding: su(2) 0 su() su();

              @include desktop {
                padding: 0 0 su(2) su();
              }
            }

            // Second & third level anchors - fly-out anchors
            a {
              display: block;
              width: 100%;
              padding: su() 10px su() su(3);
              color: $altdark;

              @include desktop {
                display: flex;
                align-items: center;
                line-height: 32px;
                padding: 4px su(3) 4px su();
                border-radius: $radius;
              }

              // Hover appearance for the second level anchor
              &:hover {
                background-color: rgba($black, 0.05);
              }

              img {
                height: auto;
                width: auto;
                max-width: 22px;
                max-height: 22px;
                margin-right: 10px;
              }

              .description {
                display: block;
                color: $mid-grey;
                font-weight: normal;
                font-size: 16px;
                transition: color $timingFast ease;
              }
            }

            // Third level --------------------------------------
            > ul {
              display: flex;
              flex-wrap: wrap;

              li {
                display: block;
                width: 100%;
                padding: 0;

                @include desktop {
                  padding: 3px 0;
                }
              }
            }
          } // End second level <li>
        } // End second level <ul>

      } // End first level <li>

      // Custom menu item styling:
      li.international,
      li.search {
        @include desktop {
          &:hover > a {
            background-color: $primary;
          }

          > a {
            mask-size: 20px auto;
            mask-repeat: no-repeat;
            mask-position: center;
            text-indent: -9999px;
            width: 36px;
            background-color: $space;

            &,
            #{$transSelector}#{$stickySelector} & {
              background-color: $black;
            }
          }
        }
      }

      li.international {
        @include device {
          width: 100%;
        }

        @include desktop {
          margin-top: inherit;
          margin-right: -5px;

          > a {
            mask-image: url(../../resources/svg/globe-2020.svg);
          }

          // Hitbox bar
          &::after {
            width: 100px;
            right: 0;
          }
        }

        > ul.sub-menu {
          display: flex;

          @include desktop {
            display: block;
            padding-top: su(2);
            right: 0;

            &::after {
              right: 6px;
              left: auto;
            }
          }
        }
      }

      // Custom menu item styling:
      li.search {
        @include device {
          margin-top: 12px;
          padding-top: 12px;
          border-top: 1px solid $alt;
        }

        @include desktop {
          margin-left: 5px;
          > a {
            mask-image: url(../../resources/svg/mag-2020.svg);
          }
        }
      }

      li.free-trial,
      li.log-in,
      li.btn,
      li.btn-cta,
      li.primary-cta {
        display: block;
        padding: 0px;
        margin: 0;
        border-radius: $radius;

        &:hover {
          background: transparent;
        }

        @include device {
          position: relative;
          text-align: left;
        }

        @include desktop {
          margin: 12px 6px 0;
        }

        a {
          line-height: 36px;
          background: none;

          @include desktop {
            padding: 0 15px;
            box-shadow: inset 0 0 0 2px $primary;
            border-radius: $radius;

            &:hover {
              color: $seashell;
              background: $primary;

              #{$transSelector} & {
                color: white;
              }
            }
          }
        }
      }
    } // End first level nav <ul>
  } // End .nav-v2
} // End .header-v2

ul.main-nav-lp {
  padding-left: 0;
}

// Resources mic atrong
body.post-type-archive-resources .header-v2 {
  background: white;
}

body.post-type-archive-resources .header-v2 {
  background: $seashell;
}

#content .resources-search-navbar.navbar.navbar-fixed-top {
  top: $nav-height;
}

.landing_pages-template .inner-wrap .general-page-hero:first-of-type {
  margin-top: 0;
}

// Misc interior templates coverage for content padding
// @TODO - Review this solution for long-term
.site-header.header-v2 + section {
  padding-top: $nav-height;

  body.transparent-header & {
    padding-top: 0;
  }
}
