<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="bottom-container">
		<div class="container">
            <div class="footer-social-icons">
    <ul class="social">
        <li class="facebook">
            <a href="http://www.facebook.com/talend" target="_blank" title="Visit http://www.facebook.com/talend (click to open in a new window)">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-square" class="style-svg replaced-svg svg-replaced-0" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" id="svg-replaced-0"><path fill="currentColor" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path></svg>
            </a>
        </li>
        <li class="twitter">
            <a href="http://twitter.com/talend  " target="_blank" title="Visit http://twitter.com/talend (click to open in a new window)">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="style-svg replaced-svg svg-replaced-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="svg-replaced-1"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg>
            </a>
        </li>
        <li class="linkedin">
            <a href="https://www.linkedin.com/company/talend/" target="_blank" title="Visit https://www.linkedin.com/company/talend/ (click to open in a new window)">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" class="style-svg replaced-svg svg-replaced-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" id="svg-replaced-2"><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>
            </a>
        </li>
        <li>
            <a href="https://instagram.com/teamtalend/" target="_blank" title="Visit https://instagram.com/teamtalend/ (click to open in a new window)">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="style-svg replaced-svg svg-replaced-3" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" id="svg-replaced-3"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>
            </a>
        </li>
    </ul>
</div>
            <nav class="footer-navigation">
    <ul id="menu-footer-menu-1st-column" class="menu"><li id="menu-item-2656" class="bold-white menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2656"><a src="https://www.talend.com/products/data-fabric/">Products</a>
<ul class="sub-menu">
	<li id="menu-item-42091" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42091"><a src="https://www.talend.com/products/data-fabric/">Talend Data Fabric</a></li>
	<li id="menu-item-42093" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42093"><a src="https://www.talend.com/products/integrate-data/">Data Integration</a></li>
	<li id="menu-item-42102" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42102"><a src="https://www.talend.com/products/data-integrity-governance/">Data Integrity and Data Governance</a></li>
	<li id="menu-item-98159" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-98159"><a src="https://www.talend.com/products/integrate-applications/">Application and API Integration</a></li>
	<li id="menu-item-168743" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-168743"><a src="https://www.talend.com/products/trust-score/">Powered by Talend Trust Score™</a></li>
	<li id="menu-item-42110" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42110"><a src="https://www.talend.com/products/talend-open-studio/">Free and Open Source Products</a></li>
	<li id="menu-item-42108" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42108"><a src="https://www.talend.com/products/pricing-model/">Pricing and Packages</a></li>
</ul>
</li>
</ul>    <ul id="menu-footer-menu-2nd-column" class="menu"><li id="menu-item-117620" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-117620"><a src="https://www.talend.com/request-demo/">Get Started</a>
<ul class="sub-menu">
	<li id="menu-item-117621" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-117621"><a src="https://www.talend.com/free-trial/">Free Trial</a></li>
	<li id="menu-item-117855" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-117855"><a src="https://www.talend.com/download/">Downloads</a></li>
	<li id="menu-item-117856" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-117856"><a src="https://www.talend.com/contact-sales/">Contact Sales</a></li>
</ul>
</li>
<li id="menu-item-135635" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-135635"><a src="https://www.talend.com/why-talend/">Why Talend</a>
<ul class="sub-menu">
	<li id="menu-item-135636" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-135636"><a src="https://www.talend.com/customers/">Customers</a></li>
	<li id="menu-item-135642" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-135642"><a src="https://www.talend.com/partners/">Find a Partner</a></li>
	<li id="menu-item-135644" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-135644"><a href="https://talend.channeltivity.com/Preview/BecomeAPartner/" target="_blank" title="Visit https://talend.channeltivity.com/Preview/BecomeAPartner/ (click to open in a new window)">Be a Partner</a></li>
	<li id="menu-item-135645" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-135645"><a href="https://community.talend.com/" target="_blank" title="Visit https://community.talend.com/ (click to open in a new window)">Community</a></li>
</ul>
</li>
</ul>    <ul id="menu-footer-menu-3rd-column" class="menu"><li id="menu-item-42083" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-42083"><a src="https://www.talend.com/customer-success/">Services and Support</a>
<ul class="sub-menu">
	<li id="menu-item-42085" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42085"><a src="https://www.talend.com/technical-support/">Technical Support</a></li>
	<li id="menu-item-112934" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-112934"><a src="https://www.talend.com/consulting/">Consulting</a></li>
	<li id="menu-item-42090" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42090"><a src="https://www.talend.com/academy/">Training</a></li>
</ul>
</li>
<li id="menu-item-126918" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-126918"><a src="https://www.talend.com/resources/">Resources</a>
<ul class="sub-menu">
	<li id="menu-item-126919" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-126919"><a src="https://www.talend.com/resources/">Resource Center</a></li>
	<li id="menu-item-126920" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-126920"><a src="https://www.talend.com/blog/">Blog</a></li>
	<li id="menu-item-126921" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-126921"><a href="https://help.talend.com" target="_blank" title="Visit https://help.talend.com/ (click to open in a new window)">Help</a></li>
</ul>
</li>
</ul>    <ul id="menu-footer-menu-4th-column" class="menu"><li id="menu-item-42063" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-42063"><a src="https://www.talend.com/about-us/">Company</a>
<ul class="sub-menu">
	<li id="menu-item-153385" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-153385"><a src="https://www.talend.com/about-us">About Us</a></li>
	<li id="menu-item-42064" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42064"><a src="https://www.talend.com/about-us/leadership/">Leadership</a></li>
	<li id="menu-item-42065" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42065"><a href="https://investor.talend.com/" target="_blank" title="Visit https://investor.talend.com/ (click to open in a new window)">Investors</a></li>
	<li id="menu-item-82194" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82194"><a src="https://www.talend.com/about-us/news/">News</a></li>
	<li id="menu-item-42070" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42070"><a src="https://www.talend.com/about-us/careers/">Careers</a></li>
	<li id="menu-item-42072" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42072"><a src="https://www.talend.com/contact/">Contact Us</a></li>
	<li id="menu-item-161203" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-161203"><a src="https://www.talend.com/legal-terms/privacy/">Privacy</a></li>
</ul>
</li>
</ul></nav>
        </div>
        <div class="menu-footer-bottom-sub-menu-container"><ul id="footer-menu" class=""><li id="menu-item-107416" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-107416"><a href="https://www.stitchdata.com/?utm_source=talend&amp;utm_medium=footer" target="_blank" title="Visit https://www.stitchdata.com/?utm_source=talend&amp;utm_medium=footer (click to open in a new window)">Stitch: Fully-managed data pipeline for analytics</a></li>
<li id="menu-item-160" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-160"><a src="https://www.talend.com/legal-terms/us-eula/">Talend EULA</a></li>
<li id="menu-item-2653" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2653"><a src="https://www.talend.com/terms-use/">Terms of Use</a></li>
<li id="menu-item-156500" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-156500"><a src="https://www.talend.com/security/">Security</a></li>
<li id="menu-item-2655" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2655"><a src="https://www.talend.com/site-map/">Site Map</a></li>
</ul></div>        <p id="footer-copyright">© 2021 Talend All rights reserved.</p>   
    </div>
</footer>