<input type="checkbox" id="nav-toggle" class="nav-toggle" />
<header id="site-header" class="site-header header-v2" role="navigation">
    <div id="logo">
        <a
            href="https://www.talend.comhttps://www.talend.com/"
            title="Talend Real-Time Open Source Data Integration Software"
            rel="home"
            class="logo"
        >
            <svg viewBox="0 0 145 37" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <path id="a" d="M.244 1.637h28.06v35.974H.243z"></path>
                    <path id="c" d="M0 .457h16.898v30.335H0z"></path>
                </defs>
                <g fill="none" fill-rule="evenodd">
                    <g transform="translate(116.622 -.866)">
                        <path
                            d="M16.032 33.745c.774-.371 1.353-.893 1.732-1.562V18.677c-.121-.364-.388-.74-.798-1.129a5.51 5.51 0 00-1.402-.958c-.525-.25-1.016-.376-1.472-.376-2.22 0-3.802.826-4.746 2.475-.942 1.65-1.413 3.996-1.413 7.038 0 5.719 1.931 8.577 5.794 8.577.761 0 1.528-.186 2.305-.56M4.6 35.982c-1.52-1.087-2.626-2.522-3.317-4.301C.59 29.9.244 27.916.244 25.727c0-2.113.438-4.075 1.313-5.885.875-1.81 2.185-3.266 3.935-4.369 1.748-1.102 3.876-1.653 6.386-1.653 1.293 0 2.388.101 3.284.307.9.205 1.833.605 2.808 1.197l-.206-8.692c0-1.002-.391-1.702-1.175-2.097-.783-.395-1.92-.647-3.41-.753a.898.898 0 01-.41-.32c-.092-.137-.137-.333-.137-.592 0-.213.053-.429.158-.651.108-.22.238-.337.388-.353 2.373-.152 5.43-.229 9.171-.229h1.894c.166 0 .323.072.467.217.145.146.217.377.217.696v30.408c0 .609.125 1.069.376 1.38.252.312.548.514.89.606.344.09.773.166 1.288.227.335.031.558.095.662.194.108.099.161.316.161.65 0 .198-.072.402-.217.616-.144.214-.33.32-.558.32H19.68c-.578 0-.992-.088-1.243-.262a1.034 1.034 0 01-.445-.72c-.045-.303-.06-.798-.045-1.482-.73 1.004-1.803 1.776-3.217 2.315a11.86 11.86 0 01-4.265.809c-2.388 0-4.342-.544-5.864-1.63"
                            fill="#F17176"
                            mask="url(#b)"
                        ></path>
                    </g>
                    <path
                        d="M75.486 16.66c-.533-1.178-1.385-1.767-2.555-1.767-1.232 0-2.293.613-3.182 1.836-.89 1.225-1.434 3.106-1.632 5.647h8.168c0-2.631-.267-4.537-.799-5.716M63.508 33.622c-2.143-2.084-3.216-5.08-3.216-8.988 0-2.45.575-4.556 1.723-6.32 1.15-1.763 2.687-3.097 4.62-4.004 1.93-.903 4.051-1.357 6.364-1.357 3.377 0 5.892.659 7.55 1.974 1.659 1.316 2.7 3.242 3.126 5.783.137.82.204 2.076.204 3.763l-15.83.024c0 2.205.345 3.993 1.038 5.36.69 1.37 1.57 2.35 2.636 2.944a6.835 6.835 0 003.375.89c1.4 0 2.573-.184 3.524-.548.951-.366 1.783-.967 2.498-1.803a2.26 2.26 0 00.124-.147.545.545 0 01.218-.171.48.48 0 01.253-.024l1.002.479c.15.061.228.152.228.273 0 .093-.045.221-.137.389-.821 1.43-2.022 2.555-3.604 3.375-1.581.821-3.53 1.232-5.839 1.232-4.425 0-7.712-1.04-9.857-3.124m22.382 2.155a1.108 1.108 0 01-.206-.628c0-.258.053-.455.16-.592.107-.137.303-.22.593-.251 1.613-.199 2.417-.685 2.417-1.46V18.339c0-.7-.129-1.233-.387-1.598-.258-.364-.558-.607-.901-.73-.343-.121-.786-.22-1.335-.296-.441-.062-.698-.106-.775-.137a.903.903 0 01-.41-.32c-.093-.137-.137-.333-.137-.592 0-.213.05-.429.149-.651.097-.22.23-.337.398-.353 3.559-.212 6.775-.32 9.65-.32.153 0 .296.069.435.206.135.136.219.373.248.706v2.556c.35-.41 1.004-.924 1.964-1.54.956-.616 2.071-1.156 3.342-1.62 1.27-.463 2.519-.694 3.752-.694 2.25 0 4.037.48 5.361 1.447 1.32.966 1.985 2.749 1.985 5.35v12.34c0 .852.212 1.408.638 1.666.426.259.87.41 1.334.455l.924.093c.274.03.467.102.581.217.115.113.173.323.173.626 0 .214-.07.423-.207.628a.646.646 0 01-.57.308h-12.248a.65.65 0 01-.571-.308 1.108 1.108 0 01-.207-.628c0-.274.048-.475.138-.604.09-.128.283-.208.57-.24a3.822 3.822 0 001.516-.478c.45-.259.674-.585.674-.98V19.866a8.52 8.52 0 00-.137-1.598c-.09-.47-.34-.896-.743-1.276-.402-.382-1.014-.57-1.835-.57-.775 0-1.57.147-2.385.443-.813.298-1.558.666-2.234 1.107-.678.442-1.204.876-1.586 1.302v12.818c0 .61.11 1.07.33 1.38.221.312.491.519.811.617.318.099.73.17 1.232.217.335.03.556.094.66.193.108.1.161.317.161.65 0 .199-.072.404-.217.616-.144.214-.33.32-.56.32H86.461a.644.644 0 01-.57-.308m-52.773-4.163c-.942 1.156-2.165 1.734-3.67 1.734-.943 0-1.677-.297-2.204-.89-.523-.594-.787-1.3-.787-2.122 0-1.475.322-2.631.96-3.468.638-.836 1.426-1.428 2.36-1.779.936-.349 2.05-.622 3.341-.82v7.345zM59.306 34.5c-.108-.1-.329-.164-.662-.194a12.474 12.474 0 01-1.393-.217 1.967 1.967 0 01-.968-.547c-.282-.282-.423-.688-.423-1.222V1.684c0-.318-.072-.55-.215-.695-.146-.145-.303-.217-.467-.217-3.485 0-6.869.106-10.153.32-.152.015-.28.133-.388.354-.107.219-.16.436-.16.65 0 .258.045.455.139.592a.88.88 0 00.409.32c.061.015.349.06.867.137.623.077 1.133.174 1.528.296.397.123.739.366 1.026.73.29.364.435.905.435 1.62l-.024 27.284c0 .38-2.496.937-4.149.937-1.65 0-3.688-.545-3.856-.95-.165-.403-.25-.9-.25-1.493V19.295c0-1.247-.35-2.345-1.05-3.295-.698-.95-1.787-1.697-3.262-2.237-1.476-.539-3.337-.81-5.589-.81-1.58 0-3.212.196-4.892.582-1.682.389-3.103.99-4.267 1.802-1.161.814-1.745 1.83-1.745 3.046 0 .943.346 1.715 1.039 2.315.467.405 1.028.662 1.671.794.676.097 1.384-.062 1.299-.951-.007-.064-.002-.095-.002-.14-.156-1.855.766-3.8 3.093-4.81.107-.046.198-.076.297-.112.399-.197 1.283-.358 2.527-.358 1.124 0 1.972.255 2.542.765.572.51.855 1.44.855 2.793v3.764c-2.6.274-4.93.665-6.991 1.175-2.06.51-3.808 1.328-5.245 2.453-1.439 1.124-2.157 2.623-2.157 4.492 0 1.37.354 2.512 1.06 3.424a6.282 6.282 0 002.635 2.008c1.049.424 2.085.638 3.103.638 1.629 0 3.129-.263 4.506-.787 1.375-.525 2.552-1.297 3.524-2.316v.068c0 .517.1 1.324.1 1.324s.09.66.868 1.066c.779.407 5.92.098 6.802.098h17.365a.65.65 0 00.571-.308c.137-.207.206-.416.206-.628 0-.334-.053-.551-.16-.65z"
                        fill="#F17176"
                    ></path>
                    <g transform="translate(.296 5.977)">
                        <path
                            d="M16.83 27.7a2.792 2.792 0 00-.39-.74c-.166-.228-.294-.32-.387-.274-.578.29-1.21.532-1.893.729-.685.198-1.278.298-1.78.298-.564 0-.992-.125-1.288-.377-.297-.251-.51-.715-.64-1.392-.13-.676-.193-1.661-.193-2.953V9.874h4.903c.17 0 .325-.16.469-.48.145-.32.217-.715.217-1.187a.951.951 0 00-.149-.523.515.515 0 00-.398-.252h-5.042V1.07c0-.267-.174-.454-.486-.58-.57-.178-.904.443-.904.443a13.386 13.386 0 01-8.27 7.45s-.765.181-.566.977c.022.068.04.136.075.207.106.22.234.338.387.352h2.44v15.104c0 2.143.653 3.64 1.953 4.494 1.298.85 3.045 1.276 5.234 1.276.685 0 1.478-.13 2.385-.387.903-.26 1.755-.59 2.554-.994.8-.402 1.388-.809 1.77-1.22.09-.061.09-.224 0-.49"
                            fill="#F17176"
                            mask="url(#d)"
                        ></path>
                    </g>
                </g>
            </svg>
        </a>
    </div>

    <label
        for="nav-toggle"
        id="nav-trigger"
        class="nav-trigger"
        tabindex="1"
        accesskey="n"
        role="button"
        aria-pressed="false"
    >
        <span>Main Navigation</span>
    </label>

    <nav id="nav-v2" class="nav-v2">
        <ul id="menu-main-nav-2020-q4" class="">
            <li
                id="menu-item-167664"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-167664"
            >
                <a href="https://www.talend.com/products/data-fabric/">Products</a>
                <ul class="sub-menu">
                    <li
                        id="menu-item-167704"
                        class="border-bottom large heading has-description icon-large nowrap menu-item menu-item-type-custom menu-item-object-custom menu-item-167704"
                    >
                        <a href="https://www.talend.com/products/data-fabric/" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-product-tdf-blue.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend Data Fabric"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Talend Data Fabric</span
                            ><span class="description">The unified platform for reliable, accessible data</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167705"
                        class="indented icon-large menu-item menu-item-type-custom menu-item-object-custom menu-item-167705"
                    >
                        <a href="https://www.talend.com/products/integrate-data/" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-product-integrate-data.svg"
                                class="menu-image menu-image-title-after"
                                alt="Data integration"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Data integration</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167706"
                        class="indented icon-large menu-item menu-item-type-custom menu-item-object-custom menu-item-167706"
                    >
                        <a
                            href="https://www.talend.com/products/integrate-applications/"
                            class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-product-integrate-applications.svg"
                                class="menu-image menu-image-title-after"
                                alt="Application integration and API management"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title"
                                >Application and API integration</span
                            ></a
                        >
                    </li>
                    <li
                        id="menu-item-167707"
                        class="indented icon-large menu-item menu-item-type-custom menu-item-object-custom menu-item-167707"
                    >
                        <a
                            href="https://www.talend.com/products/data-integrity-governance/"
                            class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-product-data-integrity-governance.svg"
                                class="menu-image menu-image-title-after"
                                alt="Data integrity and data governance"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title"
                                >Data integrity and governance</span
                            ></a
                        >
                    </li>
                    <li
                        id="menu-item-167708"
                        class="indented icon-large indented-last menu-item menu-item-type-custom menu-item-object-custom menu-item-167708"
                    >
                        <a href="https://www.talend.com/products/trust-score/" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-product-powered-trust-score.svg"
                                class="menu-image menu-image-title-after"
                                alt="Powered by Talend Trust Score™"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title"
                                >Powered by Talend Trust Score</span
                            ></a
                        >
                    </li>
                    <li
                        id="menu-item-167772"
                        class="bg-dark large heading has-description icon-large menu-item menu-item-type-custom menu-item-object-custom menu-item-167772"
                    >
                        <a
                            href="https://www.talend.comhttps://www.stitchdata.com/"
                            class="menu-image-title-after menu-image-not-hovered"
                            target="_blank"
                            title="Visit https://www.stitchdata.com/ (click to open in a new window)"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-product-stitch-coral.svg"
                                class="menu-image menu-image-title-after"
                                alt="Stitch"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Stitch</span
                            ><span class="description">Fully-managed data pipeline for analytics</span></a
                        >
                    </li>
                </ul>
            </li>
            <li
                id="menu-item-167665"
                class="wide cols-3 js-grouped menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-167665"
            >
                <a href="https://www.talend.com/solutions/">Solutions</a>
                <ul class="sub-menu">
                    <li class="js-group">
                        <ul class="js-group-wrapper group-1">
                            <li
                                id="menu-item-167709"
                                class="group-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-167709"
                            >
                                <span class="pre-header">Industries</span
                                ><a
                                    href="https://www.talend.com/solutions/financial-services/"
                                    class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2020/11/icon-solutions-financial-services.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend solutions for financial services industries"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title">Financial services</span></a
                                >
                            </li>
                            <li
                                id="menu-item-170395"
                                class="group-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-170395"
                            >
                                <a href="https://www.talend.com/solutions/healthcare/" class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2020/11/icon-solutions-healthcare.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend solutions for healthcare lines of business"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title">Healthcare</span></a
                                >
                            </li>
                            <li
                                id="menu-item-170396"
                                class="group-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-170396"
                            >
                                <a href="https://www.talend.com/solutions/government/" class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2021/01/icon-solutions-government.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend industry solutions: Government"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title">Government</span></a
                                >
                            </li>
                            <li
                                id="menu-item-167710"
                                class="group-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-167710"
                            >
                                <a
                                    href="https://www.talend.com/solutions/retail-consumer-goods/"
                                    class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2020/11/icon-solutions-retail-consumer-goods.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend solutions for retail and consumer goods industries"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title">Retail</span></a
                                >
                            </li>
                            <li
                                id="menu-item-167737"
                                class="group-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-167737"
                            >
                                <a
                                    href="https://www.talend.com/solutions/telecommunications/"
                                    class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2020/11/icon-solutions-telecommunications.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend solutions for telecommunications industries"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title">Telecommunications</span></a
                                >
                            </li>
                        </ul>
                    </li>

                    <li class="js-group">
                        <ul class="js-group-wrapper group-2">
                            <li
                                id="menu-item-167739"
                                class="group-2 menu-item menu-item-type-custom menu-item-object-custom menu-item-167739"
                            >
                                <span class="pre-header">Departments</span
                                ><a href="https://www.talend.com/solutions/operations/" class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2021/01/icon-solutions-operations.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend business line solutions: Operations"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title">Operations</span></a
                                >
                            </li>
                            <li
                                id="menu-item-170400"
                                class="group-2 menu-item menu-item-type-custom menu-item-object-custom menu-item-170400"
                            >
                                <a href="https://www.talend.com/solutions/sales/" class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2020/11/icon-solutions-sales.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend solutions for sales lines of business"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title">Sales</span></a
                                >
                            </li>
                            <li
                                id="menu-item-167741"
                                class="group-2 menu-item menu-item-type-custom menu-item-object-custom menu-item-167741"
                            >
                                <a href="https://www.talend.com/solutions/marketing/" class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2020/11/icon-solutions-marketing.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend solutions for marketing lines of business"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title">Marketing</span></a
                                >
                            </li>
                            <li
                                id="menu-item-169631"
                                class="group-2 menu-item menu-item-type-custom menu-item-object-custom menu-item-169631"
                            >
                                <a
                                    href="https://www.talend.com/solutions/product-intelligence/"
                                    class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2020/11/icon-solutions-product-inelligence.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend solutions for product intelligence lines of business"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title"
                                        >Product intelligence</span
                                    ></a
                                >
                            </li>
                        </ul>
                    </li>

                    <li class="js-group">
                        <ul class="js-group-wrapper group-3">
                            <li
                                id="menu-item-167742"
                                class="group-3 menu-item menu-item-type-custom menu-item-object-custom menu-item-167742"
                            >
                                <span class="pre-header">Initiatives</span
                                ><a
                                    href="https://www.talend.com/solutions/cloud-data-lakes/"
                                    class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2021/01/icon-solutions-cloud-data-lakes.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend solution: Cloud data lakes"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title">Cloud data lakes</span></a
                                >
                            </li>
                            <li
                                id="menu-item-167745"
                                class="group-3 menu-item menu-item-type-custom menu-item-object-custom menu-item-167745"
                            >
                                <a href="https://www.talend.com/solutions/customer-360/" class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2020/11/icon-solutions-customer-360.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend solutions for customer 360 business initiatives"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title">Customer 360</span></a
                                >
                            </li>
                            <li
                                id="menu-item-170401"
                                class="group-3 menu-item menu-item-type-custom menu-item-object-custom menu-item-170401"
                            >
                                <a
                                    href="https://www.talend.com/solutions/risk-compliance/"
                                    class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2020/11/icon-solutions-risk-compliance.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend solutions for risk and compliance business initiatives"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title"
                                        >Risk and compliance</span
                                    ></a
                                >
                            </li>
                            <li
                                id="menu-item-167744"
                                class="group-3 menu-item menu-item-type-custom menu-item-object-custom menu-item-167744"
                            >
                                <a
                                    href="https://www.talend.com/solutions/cloud-data-warehouses/"
                                    class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2020/11/icon-solutions-cloud-data-warehouse.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend solutions for cloud data warehouse business initiatives"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title"
                                        >Cloud data warehouse</span
                                    ></a
                                >
                            </li>
                            <li
                                id="menu-item-170399"
                                class="group-3 menu-item menu-item-type-custom menu-item-object-custom menu-item-170399"
                            >
                                <a
                                    href="https://www.talend.com/solutions/data-protection-gdpr-compliance/"
                                    class="menu-image-title-after menu-image-not-hovered"
                                    ><img
                                        src="https://www.talend.com/wp-content/uploads/2021/01/icon-solutions-data-privacy-compliance.svg"
                                        class="menu-image menu-image-title-after"
                                        alt="Talend solutions: Data privacy and compliance"
                                        loading="lazy"
                                    /><span class="menu-image-title-after menu-image-title">Data privacy</span></a
                                >
                            </li>
                        </ul>
                    </li>

                    <li
                        id="menu-item-167746"
                        class="full-width see-all menu-item menu-item-type-custom menu-item-object-custom menu-item-167746"
                    >
                        <a href="https://www.talend.com/solutions/">See All »</a>
                    </li>
                </ul>
            </li>
            <li id="menu-item-167666" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167666">
                <a href="https://www.talend.com/products/pricing-model/">Pricing</a>
            </li>
            <li
                id="menu-item-167667"
                class="wide cols-2 js-grouped menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-167667"
            >
                <a href="https://www.talend.com/partners/">Partners</a>
                <ul class="sub-menu">
                    <li class="js-group">
                        <ul class="js-group-wrapper group-1">
                            <li
                                id="menu-item-167747"
                                class="group-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-167747"
                            >
                                <span class="pre-header">Technology</span><a href="https://www.talend.com/partners/snowflake/">Snowflake</a>
                            </li>
                            <li
                                id="menu-item-167751"
                                class="group-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-167751"
                            >
                                <a href="https://www.talend.com/partners/aws/">AWS</a>
                            </li>
                            <li
                                id="menu-item-167750"
                                class="group-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-167750"
                            >
                                <a href="https://www.talend.com/partners/microsoft-azure/">Azure</a>
                            </li>
                            <li
                                id="menu-item-167749"
                                class="group-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-167749"
                            >
                                <a href="https://www.talend.com/partners/databricks/">Databricks</a>
                            </li>
                            <li
                                id="menu-item-167752"
                                class="group-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-167752"
                            >
                                <a href="https://www.talend.com/partners/google/">Google</a>
                            </li>
                            <li
                                id="menu-item-167753"
                                class="group-1 menu-item menu-item-type-custom menu-item-object-custom menu-item-167753"
                            >
                                <a href="https://www.talend.com/partners/cloudera/">Cloudera</a>
                            </li>
                        </ul>
                    </li>

                    <li class="js-group">
                        <ul class="js-group-wrapper group-2">
                            <li
                                id="menu-item-168085"
                                class="group-2 menu-item menu-item-type-custom menu-item-object-custom menu-item-168085"
                            >
                                <span class="pre-header">Channel</span><a href="https://www.talend.com/partners/">Partners</a>
                            </li>
                            <li
                                id="menu-item-168169"
                                class="group-2 menu-item menu-item-type-custom menu-item-object-custom menu-item-168169"
                            >
                                <a href="https://www.talend.com/partners/find-a-partner/">Find a Partner</a>
                            </li>
                            <li
                                id="menu-item-167756"
                                class="group-2 menu-item menu-item-type-custom menu-item-object-custom menu-item-167756"
                            >
                                <a
                                    href="https://www.talend.comhttps://talend.channeltivity.com/Login"
                                    target="_blank"
                                    title="Visit https://talend.channeltivity.com/Login (click to open in a new window)"
                                    >Partner Portal login</a
                                >
                            </li>
                            <li
                                id="menu-item-167755"
                                class="group-2 menu-item menu-item-type-custom menu-item-object-custom menu-item-167755"
                            >
                                <a
                                    href="https://www.talend.comhttps://partneracademy.talend.com/"
                                    target="_blank"
                                    title="Visit https://partneracademy.talend.com/ (click to open in a new window)"
                                    >Partner training</a
                                >
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li
                id="menu-item-167668"
                class="shallow menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-167668"
            >
                <a href="https://www.talend.com/why-talend/">Why Talend</a>
                <ul class="sub-menu">
                    <li
                        id="menu-item-168084"
                        class="border-bottom large padded menu-item menu-item-type-custom menu-item-object-custom menu-item-168084"
                    >
                        <a href="https://www.talend.com/why-talend/" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-why-talend.svg"
                                class="menu-image menu-image-title-after"
                                alt="Why Talend?"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Why Talend</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167757"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167757"
                    >
                        <a href="https://www.talend.com/about-us/" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-about-us.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend: about us"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">About us</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167758"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167758"
                    >
                        <a href="https://www.talend.com/customers/" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-customers.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend customers"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Customers</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167760"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167760"
                    >
                        <a href="https://www.talend.com/customer-success/" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-support-services.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend support and services"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Support and services</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167761"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167761"
                    >
                        <a
                            href="https://www.talend.comhttps://community.talend.com/"
                            class="menu-image-title-after menu-image-not-hovered"
                            target="_blank"
                            title="Visit https://community.talend.com/ (click to open in a new window)"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-community.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend community"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Community</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167762"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167762"
                    >
                        <a
                            href="https://www.talend.comhttps://help.talend.com/"
                            class="menu-image-title-after menu-image-not-hovered"
                            target="_blank"
                            title="Visit https://help.talend.com/ (click to open in a new window)"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-help.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend help"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Help center</span></a
                        >
                    </li>
                </ul>
            </li>
            <li
                id="menu-item-167669"
                class="shallow menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-167669"
            >
                <a href="https://www.talend.com/resources/">Resources</a>
                <ul class="sub-menu">
                    <li
                        id="menu-item-167763"
                        class="border-bottom large padded menu-item menu-item-type-custom menu-item-object-custom menu-item-167763"
                    >
                        <a href="https://www.talend.com/resources/" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-res-resource-center.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend resource center"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Resource center</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167764"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167764"
                    >
                        <a href="https://www.talend.com/resources-browse/?type=article" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-res-article.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend resource: Article"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Articles</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167765"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167765"
                    >
                        <a
                            href="https://www.talend.com/resources-browse/?type=whitepapers"
                            class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-res-whitepaper.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend resource: whitepaper"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">White papers</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167766"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167766"
                    >
                        <a href="https://www.talend.com/resources-browse/?type=webinars" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-res-webinar.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend resource: webinar"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Webinars</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167767"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167767"
                    >
                        <a href="https://www.talend.com/download/" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-res-download.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend downloads"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Downloads</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167768"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167768"
                    >
                        <a href="https://www.talend.com/blog/" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-res-blog.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend blog"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Blog</span></a
                        >
                    </li>
                    <li
                        id="menu-item-167769"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167769"
                    >
                        <a href="https://www.talend.com/about-us/events/" class="menu-image-title-after menu-image-not-hovered"
                            ><img
                                src="https://www.talend.com/wp-content/uploads/2020/11/icon-res-events.svg"
                                class="menu-image menu-image-title-after"
                                alt="Talend events"
                                loading="lazy"
                            /><span class="menu-image-title-after menu-image-title">Events</span></a
                        >
                    </li>
                </ul>
            </li>
            <li
                id="menu-item-167670"
                class="free-trial nav-v2--free-trial menu-item menu-item-type-custom menu-item-object-custom menu-item-167670"
            >
                <a href="https://www.talend.com/free-trial/">Free trial</a>
            </li>
            <li
                id="menu-item-167671"
                class="log-in nav-v2--log-in menu-item menu-item-type-custom menu-item-object-custom menu-item-167671"
            >
                <a
                    href="https://www.talend.comhttps://cloud.talend.com/"
                    target="_blank"
                    title="Visit https://cloud.talend.com/ (click to open in a new window)"
                    >Log in</a
                >
            </li>
            <li
                id="menu-item-167672"
                class="international nav-v2--international shallow menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-167672"
            >
                <a href="https://www.talend.com#">International Sites</a>
                <ul class="sub-menu">
                    <li
                        id="menu-item-168158"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-168158"
                    >
                        <a href="https://www.talend.com/fr/">Français</a>
                    </li>
                    <li
                        id="menu-item-168159"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-168159"
                    >
                        <a href="https://www.talend.com/de/">Deutsch</a>
                    </li>
                    <li
                        id="menu-item-168160"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-168160"
                    >
                        <a href="https://www.talend.com/it/">Italiano</a>
                    </li>
                    <li
                        id="menu-item-168161"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-168161"
                    >
                        <a href="https://www.talend.com/jp/">日本語</a>
                    </li>
                    <li
                        id="menu-item-168162"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-168162"
                    >
                        <a href="https://www.talend.com/es/">Español</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <script src="https://www.talend.com/wp-content/themes/talend-child-theme/public/js/header.js"></script>
</header>
